* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: context-menu;
}

body {
    font-family: 'poppins', sans-serif;
    background: #0067a2;
}

.container {
    padding: 20px;
    width: 355px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid gray;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.736);
}

.container .heading-cocktail{
    margin-bottom: 5px;
}

.container .search-box {
    height: 50px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.container .search-box i {
    color: grey;
    margin-left: 10px;
    font-size: 15px;
}

.container .search-box input {
    all: unset;
    height: 45px;
    width: 260px;
    font-size: 14px;
    padding-left: 10px;
}

.container .display-msg{
    text-align: center;
    padding-top: 20px;
    color: gray;
}

.container .cocktail-img {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.851);
}

.container .cocktail-img img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.container .info-box .cocktail-name {
    padding: 20px;
    font-size: larger;
    font-weight: 700;
    text-align: center;
}

.container .info-box .cocktail-name i {
    padding-right: 3px;
    font-size: x-large;
    color: rgb(255, 127, 127);
}

.container h3{
    display: inline-flex;
    text-transform: capitalize;
}

.container .ingredients ul {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.8em 1.1em;
    padding: 1.2em 0 0 1.2em;
    font-size: 1em;
    list-style-type: decimal;
    margin-bottom: 20px;
    color: rgb(66, 66, 66);
    font-weight: 700;
}

.container .ingredients li {
    font-size: 14px;
}

.container .instructions-box h3 {
    padding-bottom: 10px;
}

.container .info-box {
    display: none;
    margin-top: 10px;
    padding: 10 px;
}

.container .instructions-box{
    text-align: justify;
    font-style: unset;
} 

.container .instructions-box .instructions{
    font-size: 14px;
    font-weight: 600;
    color: rgb(66, 66, 66);
}

.container .youtube-link{
    margin-top: 20px;
}

.container .youtube-link h3{
    margin-bottom: 8px;
}

.container .youtube-link .link{
    font-size: 13.5px;
    color: blue;
    padding: 3px;
}

.container .link a{
    text-decoration: none;
}

.container .link a:hover{
    text-decoration: underline;
}

::selection{
    background: rgba(0, 55, 255, 0.8);
    color: white;
}

::selection:where(img){
    background: none;
}